<nav class="navbar navbar-expand-lg navbar-light bg-white shadow py-2">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
            <img src="/assets/images/logo.png" class="header__logo" alt="Logo" />
            <span> Voila </span>
        </a>

        <a class="navbar__cart-link" aria-current="page" routerLink="/cart">
            <fa-icon [icon]="faCartShopping"></fa-icon>
            <span class="badge bg-danger navbar__cart-badge"> {{count}} </span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <img src="/assets/images/toggle-icon.png" alt="Toggle Navbar" class="navbar__toggler-icon" />
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/">
                        <fa-icon [icon]="faHomeAlt"></fa-icon>
                        الصفحة الرئيسية
                    </a>
                </li>

                <li class="nav-item dropdown" *ngIf="role">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <fa-icon [icon]="faGear"></fa-icon>
                        اﻹعدادات
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item text-center" routerLink="/category/add">
                                إضافة نوع خدمة
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item text-center" routerLink="/store/add">
                                إضافة متجر
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item text-center" routerLink="/product/add">
                                إضافة منتج
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item" *ngIf="authenticated">
                    <a routerLink="/login" class="nav-link" (click)="logout()">
                        <fa-icon [icon]="faSignOut"></fa-icon>
                        تسجيل الخروج
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>