<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center fw-bold">
                أهلا وسهلا بك في تطبيق <span class="home__logo-h1">Voila</span>
            </h1>
            <ng-lottie [options]="options">
            </ng-lottie>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 mt-3">
            <a routerLink="/login" class="btn btn-primary w-100 rounded shadow">
                تسجيل الدخول
            </a>
        </div>
        <div class="col-12 mt-3">
            <a routerLink="/register" class="btn btn-danger w-100 rounded shadow">
                إنشاء حساب جديد
            </a>
        </div>
    </div>
</div>